In [2]:
import pandas as pd
import numpy as np

In [4]:

data = pd.read_csv("./data.txt")
data

   id  phone   name
0   1    114  Name1
1   2    514  Name2
2   3   1919  Name3

In [5]:
dict_data = data.to_dict()
dict_data

{'id': {0: 1, 1: 2, 2: 3},
 'phone': {0: 114, 1: 514, 2: 1919},
 'name': {0: 'Name1', 1: 'Name2', 2: 'Name3'}}

In [7]:
name = input()

filtered_data = data[data["name"]==name]
filtered_data

   id  phone   name
0   1    114  Name1